@import 'tailwindcss';

.active-link {
  font-weight: bold;
  color: cyan;
  text-decoration: none;
}

@layer base {
  ul,
  li,
  a {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
  }
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    padding: 10px;
    margin-left: 10px;
    z-index: 10;
  }
}
